:root {
    --primary-very-dark-blue: hsl(243, 87%, 12%);
    --primary-desaturated-blue: hsl(238, 22%, 44%);
    --accent-bright-blue: hsl(224, 93%, 58%);
    --accent-moderate-cyan: hsl(170, 45%, 43%);
    --neutral-light-grayish-blue: hsl(240, 75%, 98%);
    --neutral-light-gray: hsl(0, 0%, 75%);
}

body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    margin: 0px;
}

img {
    max-width: 100%;
}

::placeholder {
    color: var(--neutral-light-gray);
}
/* HEADER */
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 2em;
    margin-left: 3em;
}

nav {
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    width: 30%;
    color: var(--primary-very-dark-blue);
}

nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    list-style-type: none;
}

/* define two column layout */
.row, footer {
    display: flex;
    padding: 70px 15px 25px 50px;
    flex-direction: row;
    flex-wrap: wrap;
}

.left-column {
    flex: 0.5;
}

.rigth-column {
    flex: 0.5;
}

.row {
    padding-top: 70px;
}

/* section 1*/
.section-1 {
    padding-bottom: 100px;
    align-items: center;
}

h1 {
    font-family: 'Raleway', sans-serif;
    line-height: 1.5;
    font-weight: bold;
    font-size: 2rem;
    color: var(--primary-very-dark-blue);
}

.text-section-1 {
    text-align: left;
    width: 90%;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 1rem;
    color: var(--primary-very-dark-blue);
}

#form-contact {
    width: 75%;
    display: flex;
    flex-direction: row;
    font-family: 'Raleway', sans-serif;
    column-gap: 10px;
}

#contact-mail {
    flex: 0.7;
    padding: 10px;
    font-size: medium;
    font-weight: 600;
    border-radius: 4px;
    border: 1px solid var(--primary-very-dark-blue);
}

.button {
    background-color: var(--accent-bright-blue);
    border: 1px solid var(--accent-bright-blue);
    border-radius: 4px;
    flex: 0.3;
    font-weight: bold;
    font-size:small;
    color: var(--neutral-light-grayish-blue);
}

.button:active, .button:hover {
    background-color: hsl(224, 97%, 74%);
    cursor: pointer;
}

.button-social:active, .button-social:hover {
    border: 1px solid var(--accent-bright-blue);
    cursor: pointer;
}

a:hover {
    cursor: pointer;
    color: var(--primary-desaturated-blue);
}

#contact-mail:active {
    border: 1px solid;
    border-color: red;
}

/*section 2 */
.section-2 {
    margin-top: 10px;
    position: relative;
    background-color: var(--neutral-light-grayish-blue);
}

.section-2::before {
    content: '';
    background-image: url(/images/bg-curve-desktop.svg);
    background-size: cover;
    background-repeat: round;
    position: absolute;
    top: -45px;
    left: 0;
    width: 100%;
    height: 50px;
}

h2 {
    font-family: 'Raleway', sans-serif;
    line-height: 1.5;
    font-weight: bold;
    font-size: 2rem;
    color: var(--primary-very-dark-blue);
}

.section-2 p {
    text-align: left;
    width: 80%;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 0.9rem;
    color: var(--primary-very-dark-blue)
}

.section-2 .left-column {
    padding-bottom: 50px;
}

.section-2 a {
    color: var(--accent-moderate-cyan);
    text-decoration: none;
    border-bottom: 1px solid;
    border-color: var(--accent-moderate-cyan)
}

.testimonial-card {
    background-color: white;
    border-radius: 10px;
    width: 70%;
    padding: 0px 15px 10px 25px;
    margin-top: 50px;
    box-shadow: 2px 2px 5px 2px var(--neutral-light-gray);
}

.quote-testimonial {
    height: 25px;
    padding-top: 15px;
}

.testimonial-card p {
    text-align: left;
    margin-top: 5px;
    width: 95%;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    line-height: 1.5;
    font-size: 0.8rem;
    color: var(--primary-very-dark-blue);
}

.testimonial-user-info {
    display: flex;
    flex-direction: row;
    column-gap: 10px;
    width: 100%;
    align-items: center;
    margin-bottom: 20px;
}

.testimonial-user-info p {
    width: 100%;
    margin: 0px;
    font-size: 0.8rem;
    color: var(--primary-very-dark-blue);
    font-family: 'Open Sans', sans-serif;
}

.testimonial-avatar {
    width: 40px;
    height: 40px;
    border-radius: 25px;
}

.testimonial-card h5 {
    font-family: 'Raleway', sans-serif;
    margin: 0px;
    font-weight: bold;
    font-size: 1rem;
    color: var(--primary-very-dark-blue);
}

/* section 3 */
.section-3 {
    background-color: var(--primary-desaturated-blue);
    color: var(--neutral-light-grayish-blue);
    height: 10em;
}

.section-3 h3 {
    font-family: 'Raleway', sans-serif;
    margin: 0px;
    font-weight: 700;
    font-size: 1.7rem;
    color: var(--neutral-light-grayish-blue);
}

.section-3 p {
    width: 75%;
    line-height: 1.5;
    font-family: 'Open Sans', sans-serif;
}

.form-contact-2 {
    display: flex;
    flex-direction: column;
    row-gap: 15px;
}

.form-contact-2 .button {
    width: 40%;
}

#email-contact-2 {
    width: 80%;
    padding: 15px;
    font-size: small;
    font-weight: 600;
    border-radius: 7px;
    border: 1px solid var(--neutral-light-grayish-blue);
}

/* footer */
footer {
    padding-top: 70px;
    background-color: var(--primary-very-dark-blue);
    color: var(--neutral-light-grayish-blue);
    justify-content: space-between;
    align-items: baseline;
}

.logo-footer-container {
    width: 100%;
}

.footer-contact-info {
    display: flex;
    flex-direction: column;
    row-gap: 15px;
}

.footer-contact-info .icon {
    width: 15px;
    margin-right: 15px;
}

.footer-contact-info span {
    font-size: medium;
}

footer ul {
    list-style-type: none;
    margin-top: 0px;
}

footer li {
    padding-bottom: 15px;
}

footer a {
    text-decoration: none;
    color: var(--neutral-light-grayish-blue);
}

footer .left-column {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: stretch;
    column-gap: 150px;
}

footer .rigth-column {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: baseline;
    column-gap: 10em;
    margin-left: 0px;
}

.button-social {
    width: 35px;
    height: 35px;
    border: 1px solid;
    align-content: center;
    border-radius: 50px;
    background: none;
    border-color: var(--neutral-light-grayish-blue);
}

.social-icons {
    display: flex;
    flex-direction: row;
    column-gap: 10px;
    align-items: baseline;
}

/* breakpoint */

@media (max-width: 620px) {

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 0em;
}

.logo-nav {
    width: 80px;
    padding-left: 20px;
}

nav {
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    color: var(--primary-very-dark-blue);
    width: 100%;
}

nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    list-style-type: none;
    column-gap: 10px;
}

/* define two column layout */
.row, footer {
    display: flex;
    flex-direction: column-reverse;
    padding: 70px 15px 15px 15px;
}

.left-column {
    flex: 1;
}

.rigth-column {
    flex: 1;
}

/*section 1*/
.section-1 {
    padding-bottom: 100px;
    align-items: center;
    text-align: center;
}

h1 {
    font-family: 'Raleway', sans-serif;
    line-height: 1.2;
    font-weight: bold;
    font-size: 24px;
    color: var(--primary-very-dark-blue);
}

.text-section-1 {
    text-align: left;
    width: 100%;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    text-align: center;
    font-size: 16px;
    color: var(--primary-very-dark-blue);
}

#form-contact {
    width: 100%;
    align-items: flex-start;
    flex-direction: column;
    row-gap: 15px;
}

#contact-mail {
    width: 90%;
    padding: 15px;
    font-size: medium;
    font-weight: 600;
    border-radius: 7px;
    border: 1px solid;
    border-color: var(--primary-very-dark-blue);
}

.button {
    width: 100%;
    padding: 10px 5px;
}

.illustration-section-1 {
    width: 100%;
    height: 50%;
}

.illustration-section-2 {
    width: 100%;
    height: 50%;
}

h2 {
    font-size: 18px;
}


.section-2::before {
    background-image: url(/images/bg-curve-mobile.svg);
}

.section-2 p {
    width: 100%;
    font-size: 14px;
}

.testimonial-card {
    background-color: white;
    border-radius: 10px;
    width: 80%;
    margin: 50px auto 0px;
    padding: 5px 20px 5px 20px;
}

.testimonial-card p {
    font-size: 0.7rem;
}

/* section 3*/
.section-3 {
    height: auto;
    flex-direction: column;
    padding-bottom: 50px;
}

.section-3 h3 {
    text-align: center;
}

.section-3 p {
    width: 90%;
    line-height: 1.5;
    font-size: 14px;
    text-align: center;
}

.form-contact-2 {
    row-gap: 10px;
}

#email-contact-2 {
    width: auto;
}

.form-contact-2 .button {
    width: 100%;
}

/* footer */
footer {
    flex-direction: column;
}

.logo-footer-container {
    width: 100%;
}

.footer-contact-info {
    padding: 25px 25px;
}

.footer-contact-info .icon {
    width: 15px;
    margin-right: 15px;
}

.footer-contact-info span {
    font-size: medium;
}

footer ul {
    list-style-type: none;
    margin-top: 0px;
}

footer li {
    padding-bottom: 15px;
}

footer a {
    text-decoration: none;
    color: var(--neutral-light-grayish-blue);
}

footer .left-column {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: stretch;
    column-gap: 150px;
}

footer .rigth-column {
    flex-direction: column;
}

.social-icons {
    align-self: center;
}

}