body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    margin: 0px;
}

::placeholder {
    color: hsl(0, 0%, 75%);
}
/* HEADER */
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 2em;
    margin-left: 3em;
}

nav {
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    width: 30%;
    color: hsl(243, 87%, 12%);
}

nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    list-style-type: none;
}

/* define two column layout */
.row, footer {
    display: flex;
    padding: 70px 15px 25px 50px;
    flex-direction: row;
    flex-wrap: wrap;
}

.left-column {
    width: 50%;
}

.rigth-column {
    width: 50%;
}

.row {
    padding-top: 70px;
}

/* section 1*/
.section-1 {
    padding-bottom: 100px;
    align-items: center;
}

h1 {
    font-family: 'Raleway', sans-serif;
    line-height: 1.5;
    font-weight: bold;
    font-size: 2rem;
    color: hsl(243, 87%, 12%);
}

.text-section-1 {
    text-align: left;
    width: 90%;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 1rem;
    color: hsl(243, 87%, 12%);
}

#form-contact {
    width: 75%;
    display: flex;
    flex-direction: row;
    font-family: 'Raleway', sans-serif;
    column-gap: 10px;
}

#contact-mail {
    width: 60%;
    padding: 10px;
    font-size: medium;
    font-weight: 600;
    border-radius: 7px;
    border: 1px solid;
    border-color: hsl(243, 87%, 12%);
}

.button {
    background-color: hsl(224, 93%, 58%);
    border-color: unset;
    border-radius: 7px;
    width: 30%;
    padding: 12px 20px;
    font-weight: bold;
    font-size:small;
    color: hsl(240, 75%, 98%);;
}

/*section 2 */
.section-2 {
    background-image: url(/images/bg-curve-desktop.svg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding-top: 100px;
}

h2 {
    font-family: 'Raleway', sans-serif;
    line-height: 1.5;
    font-weight: bold;
    font-size: 2rem;
    color: hsl(243, 87%, 12%);
}

.section-2 p {
    text-align: left;
    width: 80%;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 0.9rem;
    color: hsl(243, 87%, 12%);
}

.section-2 .left-column {
    padding-bottom: 100px;
}

.section-2 a {
    color: hsl(170, 45%, 43%);
    text-decoration: none;
    border-bottom: 1px solid;
    border-color: hsl(170, 45%, 43%);
}

.testimonial-card {
    background-color: white;
    border-radius: 10px;
    width: 50%;
    padding: 0px 15px 10px 25px;
    margin-top: 50px;
    box-shadow: 2px 2px 5px 2px hsl(0, 0%, 75%);
}

.quote-testimonial {
    height: 25px;
    padding-top: 15px;
}

.testimonial-card p {
    text-align: left;
    margin-top: 5px;
    width: 95%;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    line-height: 1.5;
    font-size: 0.8rem;
    color: hsl(243, 87%, 12%);
}

.testimonial-user-info {
    display: flex;
    flex-direction: row;
    column-gap: 10px;
    width: 100%;
    align-items: center;
    margin-bottom: 20px;
}

.testimonial-user-info p {
    width: 100%;
    margin: 0px;
    font-size: 0.8rem;
    color: hsl(243, 87%, 12%);
    font-family: 'Open Sans', sans-serif;
}

.testimonial-avatar {
    width: 40px;
    height: 40px;
    border-radius: 25px;
}

.testimonial-card h5 {
    font-family: 'Raleway', sans-serif;
    margin: 0px;
    font-weight: bold;
    font-size: 1rem;
    color: hsl(243, 87%, 12%);
}

/* section 3 */
.section-3 {
    background-color: hsl(238, 22%, 44%);
    color: hsl(240, 75%, 98%);
    height: 10em;
}

.section-3 h3 {
    font-family: 'Raleway', sans-serif;
    margin: 0px;
    font-weight: 700;
    font-size: 1.7rem;
    color: hsl(240, 75%, 98%);
}

.section-3 .button {
    border: 0px;
    border-radius: 3px;
}

.section-3 p {
    width: 75%;
    line-height: 1.5;
    font-family: 'Open Sans', sans-serif;
}

.form-contact-2 {
    display: flex;
    flex-direction: column;
    row-gap: 15px;
}

#email-contact-2 {
    width: 80%;
    padding: 15px;
    font-size: small;
    font-weight: 600;
    border-radius: 7px;
    border: 1px solid;
    border-color: hsl(240, 75%, 98%);
}

/* footer */
footer {
    padding-top: 70px;
    background-color: hsl(243, 87%, 12%);
    color: hsl(240, 75%, 98%);
    justify-content: space-between;
    align-items: baseline;
}

.logo-footer-container {
    width: 100%;
}

.footer-contact-info {
    display: flex;
    flex-direction: column;
    row-gap: 15px;
}

.footer-contact-info .icon {
    width: 15px;
    margin-right: 15px;
}

.footer-contact-info span {
    font-size: medium;
}

footer ul {
    list-style-type: none;
    margin-top: 0px;
}

footer li {
    padding-bottom: 15px;
}

footer a {
    text-decoration: none;
    color: hsl(240, 75%, 98%);
}

footer .left-column {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: stretch;
    column-gap: 150px;
}

footer .rigth-column {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: baseline;
    column-gap: 10em;
    margin-left: 0px;
}

.button-social {
    width: 35px;
    height: 35px;
    border: 1px solid;
    align-content: center;
    border-radius: 50px;
    background: none;
    border-color: hsl(240, 75%, 98%);
}

.social-icons {
    display: flex;
    flex-direction: row;
    column-gap: 10px;
    align-items: baseline;
}

/* breakpoint */

@media (max-width: 425px) {
    /* HEADER */

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 0em;
}

.logo-nav {
    width: 80px;
    padding-left: 20px;
}

nav {
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    color: hsl(243, 87%, 12%);
    width: 100%;
}

nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    list-style-type: none;
    column-gap: 10px;
}

/* define two column layout */
.row, footer {
    display: flex;
    flex-direction: column-reverse;
    padding: 70px 15px 15px 15px;
}

.left-column {
    width: 100%;
}

.rigth-column {
    width: 100%;
}

/*section 1*/
.section-1 {
    padding-bottom: 100px;
    align-items: center;
    text-align: center;
}

h1 {
    font-family: 'Raleway', sans-serif;
    line-height: 1.2;
    font-weight: bold;
    font-size: 24px;
    color: hsl(243, 87%, 12%);
}

.text-section-1 {
    text-align: left;
    width: 100%;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    text-align: center;
    font-size: 16px;
    color: hsl(243, 87%, 12%);
}

#form-contact {
    width: 100%;
    align-items: center;
    flex-direction: column;
    row-gap: 15px;
}

#contact-mail {
    width: 90%;
    padding: 15px;
    font-size: medium;
    font-weight: 600;
    border-radius: 7px;
    border: 1px solid;
    border-color: hsl(243, 87%, 12%);
}

.button {
    background-color: hsl(224, 93%, 58%);
    border-color: unset;
    border-radius: 7px;
    width: 100%;
    font-weight: bold;
    font-size:small;
    color: hsl(240, 75%, 98%);;
}

.illustration-section-1 {
    width: 100%;
    height: 50%;
}

.illustration-section-2 {
    width: 100%;
    height: 50%;
}

h2 {
    font-size: 18px;
}

.section-2 p {
    width: 100%;
    font-size: 14px;
}

.testimonial-card {
    background-color: white;
    border-radius: 10px;
    width: 80%;
    margin: 50px auto 0px;
    padding: 5px 20px 5px 20px;
}

.testimonial-card p {
    font-size: 0.7rem;
}

/* section 3*/
.section-3 {
    height: auto;
    flex-direction: column;
    align-items: center;
    padding-bottom: 50px;
}

.section-3 h3 {
    text-align: center;
}

.section-3 .button {
    border: 0px;
    border-radius: 3px;
}

.section-3 p {
    width: 90%;
    line-height: 1.5;
    font-size: 14px;
    text-align: center;
}

.form-contact-2 {
    row-gap: 10px;
    width: 80%;
}

#email-contact-2 {
    width: 90%;
}

/* footer */
footer {
    flex-direction: column;
}

.logo-footer-container {
    width: 100%;
}

.footer-contact-info {
    padding: 25px 25px;
}

.footer-contact-info .icon {
    width: 15px;
    margin-right: 15px;
}

.footer-contact-info span {
    font-size: medium;
}

footer ul {
    list-style-type: none;
    margin-top: 0px;
}

footer li {
    padding-bottom: 15px;
}

footer a {
    text-decoration: none;
    color: hsl(240, 75%, 98%);
}

footer .left-column {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: stretch;
    column-gap: 150px;
}

footer .rigth-column {
    flex-direction: column;
}

.social-icons {
    align-self: center;
}

}